<main class="main-container">
  <header class="header">
    <a routerLink="/">
      <img src="the-chicane-logo.png" alt="The Chicane" class="header-logo" />
    </a>
    <ul class="header-menu">
      @for (menuItem of menuItems; track menuItem) {
        <li class="header-menu-item michroma-regular">
          <a routerLink="/{{ menuItem.route }}" routerLinkActive="active">{{ menuItem.label }}</a>
        </li>
      }
    </ul>
  </header>

  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>

  <footer class="roboto-regular footer">
    <span class="copyright">© {{ copyrightDate }} The Chicane</span>
    <span class="attribution-text">A Hi-Finn8 Labs Project</span>
  </footer>
</main>
