<main class="main-container">
  <header class="header">
    <a routerLink="/">
      <img src="the-chicane-logo.png" alt="The Chicane" class="header-logo" />
    </a>

    <!-- Mobile menu button -->
    <input class="side-menu" type="checkbox" id="side-menu" [(ngModel)]="mobileMenuChecked" />
    <label class="hamb" for="side-menu">
      <span class="hamb-line"></span>
    </label>

    <!-- Menu -->
    <nav class="nav">
      <ul class="header-menu">
        @for (menuItem of menuItems; track menuItem) {
          <li class="header-menu-item michroma-regular">
            <a routerLink="/{{ menuItem.route }}" routerLinkActive="active" (click)="onMobileNav()">{{ menuItem.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </header>

  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>

  <footer class="roboto-regular footer">
    <span class="copyright">© {{ copyrightDate }} The Chicane. All rights reserved.</span>
    <span class="attribution-text">A Hi-Finn8 Labs Project</span>

    <div class="disclaimer-container">
      <span class="disclaimer-text">This website is unofficial and is not associated in any way with the Formula 1 companies.</span>
      <span class="disclaimer-text">F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing B.V.</span>
    </div>
  </footer>
</main>
